.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divider{
    height: 33px;
    border: 1px solid #EDEDED;
    margin: 0 14px 0 0;
}
